token: str = 'aaaaa-aaaaa-aaaaa'  # токен, полученный от https://t.me/BotFather
owner: str = 'имя_пользователя_без_@'  # чтобы никто больше не мог получать ответы от бота
owner_name: str = 'Вася'  # чтобы отсекать обращения через запятую и не постить их как часть списка
